* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    background: url(img/bg.jpg) no-repeat center/cover;
}

.wrapper {
    min-height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.quiz-container {
    border: 2px solid rgb(0, 9, 90);
    padding: 40px 80px 60px 80px;
    background-color: rgb(10, 3, 32);
    border-radius: 50px;
    display: none;
}

.title {}

.question {
    margin-bottom: 25px;
}

.options {
    display: flex;
    column-gap: 50px;
    margin-left: 30px;
}

.result {
    font-size: 48px;
}

.btn {
    color: white;
    border: none;
    padding: 15px 25px;
    background-color: rgb(36, 58, 117);
    border-radius: 50px;
    font-family: "Comfortaa", sans-serif;
}

.quiz-container:hover {
    transform: scale(0.95);
    transition: all 0.4s;
}

.quiz-container {
    transform: scale(1);
    transition: all 0.4s;
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.btn {
    transform: scale(1);
    transition: all 0.2s;
}

.reg {}

.title-reg {}

.input {
    border-radius: 20px;
    border: 2px solid rgb(12, 1, 102);
    color: rgb(50, 32, 153);
    font-size: 18px;
    background-color: rgb(17, 5, 70);
    padding: 10px 10px;
}

.start {
    font-size: 24px;
    padding: 10px 40px;
    border: 2px solid rgb(12, 1, 102);
    background-color: rgb(17, 5, 70);
    border-radius: 20px;
    color: rgb(50, 32, 153);
    margin-top: 30px;
}

.start:hover {
    transform: scale(1.1);
    transition: all 0.2s;
    color: rgb(39, 18, 163);
    border: 2px solid rgb(15, 0, 126);
    background-color: rgb(23, 6, 95);
}

.start {
    transform: scale(1);
    color: rgb(50, 32, 153);
    border: 2px solid rgb(12, 1, 102);
    background-color: rgb(17, 5, 70);
    transition: all 0.2s;
}